<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        
        <div>
        <form class="test" asp-action="VeriAl" asp-controller="Home" method="post">
        <input type="text" name="txtValue" /> <br />
        <input type="submit" name="Name" class="btn btn-outline-info" value="Send" />
        <label>Result: </label>
        </form>
        </div>
    </div>

    
</body>
</html>
